body {
	margin: 0;
	padding: 10px 20px;
	font-family: Helvetica, sans-serif;
	width: 350px;
	max-width: 350px;
}

hr {
	margin: 30px 0;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.h2 {
	font-size: 17px;
	font-weight: 300;
}

.content {
	margin: 20px 0;
}

.input.text {
	width: 100%;
	font-size: 13px;
	font-weight: 100;
	margin: 10px 0;
	height: 30px;
	width: 300px;
	min-width: 300px;
	outline: none;
}

.input.range {
	width: 300px;
	min-width: 300px;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 300;
	white-space: nowrap;
}

.checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: lightgray;
}

.checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: white;
}

.checkbox:checked + label:before {
	background: #9fd468;
}

.checkbox:checked + label:after {
	left: 26px;
}

.password-generator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.button {
	height: 30px;
	width: 30px;
	min-width: 30px;
	border: 0;
	background-color: white;
	cursor: pointer;
	font-size: 25px;
	font-weight: 300;
	position: relative;
	top: -4px;
	outline: none;
}

.password-length-text {
	width: 30px;
	min-width: 30px;
	text-align: center;
}